<!DOCTYPE html><html xmlns:ng="http://angularjs.org/" ng-app="meetingFinder"><head><meta charset="utf-8"><!-- bootstrap--><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"><!-- native-like--><!--link(rel='stylesheet', href='stylesheets/ng-nlFramework.css')--><!-- ionic--><!--link(rel='stylesheet', href='stylesheets/ionic.css')--><link rel="stylesheet" href="stylesheets/style.css"></head><body ng-controller="mapController">   block content</body><!-- jQueryscript(type='text/javascript',src='https://code.jquery.com/jquery-2.2.0.min.js')
script(type='text/javascript',src='javascripts/angular.min.js')
script(type='text/javascript',src='javascripts/angular-google-maps.js')
script(type='text/javascript',src='javascripts/angular-ui-router.min.js')
script(type='text/javascript',src='javascripts/lodash.js')
script(type='text/javascript',src='javascripts/digitalRecovery.js')
// bootstrap JS
script(type='text/javascript',src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
// hammer
script(type='text/javascript',src='javascripts/hammer.min.js')

// cordova (for touch/slide)
//script(type='text/javascript',src='javascripts/cordova.js')
//script(type='text/javascript',src='javascripts/ng-cordova.min.js')
// native-like
//script(type='text/javascript',src='javascripts/ng-nlFramework-min.js')--></html>