.meeting-detail-box
  .meeting-detail-content
    .meeting-detail-controls.pull-right
      span.glyphicon.glyphicon-remove(ng-click="hideMeetingDetail()")
    .mtg-title {{mtgTitle()}}
    .mtg-time {{mtgTime()}}
    .mtg-address {{mtgAddress()}}



